@import 'tailwindcss';

@theme inline {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  /* Theme colors */
  --kiwi-light: #c7e9b0;
  --kiwi-medium: #a3c4a7;
  --kiwi-dark: #70a37f;
  --kiwi-darker: #1F4D36;

  --font-base: var(--font-itim);
  --font-display: var(--font-playwrite-it-moderna);
}

/* Custom components classes */
@layer components {
  .btn-primary {
    @apply bg-[var(--kiwi-dark)] text-white hover:bg-[var(--kiwi-darker)] transition-colors duration-200;
  }

  .paper-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-poppins);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-itim);
}


.calendar-preview {
  font-family: "Playwrite IT Moderna", "Playwrite IT Moderna Fallback", sans-serif;
}

/* PDF specific styles */
.pdf-page {
  --page-margin: 6mm;
  position: relative;
  width: calc(297mm - var(--page-margin) * 2);
  height: calc(210mm - var(--page-margin) * 2);
  padding: 0;
  margin: var(--page-margin);
  background: white;
  display: block;
}

/* Hide certain elements when printing/generating PDF */
@media print {
  .print\:hidden {
    display: none !important;
  }

  body * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .pdf-page {
    page-break-after: always;
    box-shadow: none !important;
  }
}

/* Ensure stickers preview has proper spacing in PDF */
.stickers-preview-container {
  page-break-inside: avoid;
}

/* Ensure calendar has proper page break in PDF */
.calendar-preview-container {
  page-break-inside: avoid;
}